version: '3.8'

services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: {{media_user_uid.stdout}}:{{media_user_gid.stdout}} # should be owner of volumes
    #ports:
    #  - "4533:4533"
    restart: unless-stopped
    environment:
      # Optional: put your config options customization here. Examples:
      ND_SCANINTERVAL: 1m
      ND_LOGLEVEL: debug
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: ""
    volumes:
      - "../config:/data"
      - "../../share/musics:/music:ro"
    labels:
      - "traefik.docker.network={{traefik_network}}"
      - "traefik.port={{navidrome_web_port}}"
      - "traefik.enable=true"
      - "traefik.backend={{navidrome_name}}"
      - "traefik.frontend.rule=Host:music.{{domain}}"
      # Security headers
      - "traefik.frontend.headers.SSLRedirect=true"
      - "traefik.frontend.headers.STSSeconds=315360000"
      - "traefik.frontend.headers.browserXSSFilter=true"
      - "traefik.frontend.headers.contentTypeNosniff=true"
      - "traefik.frontend.headers.forceSTSHeader=true"
      - "traefik.frontend.headers.STSIncludeSubdomains=true"
      - "traefik.frontend.headers.STSPreload=true"
      - "traefik.frontend.headers.frameDeny=true"
    networks:
      {{media_network}}:
      {{traefik_network}}:

networks:
  {{traefik_network}}:
    external: true
  {{media_network}}:
    external: true
