version: '3'

services:
 traefik:
  image: traefik:alpine
  container_name: traefik
  ports:
    - {{ traefik_port }}:80
    - {{ traefik_admin_port }}:8080
  restart: "always"
  volumes:
    - ./traefik.toml:/etc/traefik/traefik.toml
    - {{ traefik_logs_path }}:/log
    # So that Traefik can listen to the Docker events
    - /var/run/docker.sock:/var/run/docker.sock
#  To use Traefik with a specific network, comment the next line and uncomment the last lines
#  If you use the host network driver for a container, that container’s network stack is not isolated from the Docker
#  host. For instance, if you run a container which binds to port 80 and you use host networking, the container’s
#  application will be available on port 80 on the host’s IP address.
  network_mode: host
#   networks:
#     - proxy

# networks: 
#   proxy:
#     external:
#       name: proxy